.App {
  text-align: center;
}

button{
  padding: 2%;
  margin-left: 3%;
  margin-right: 3%;
  border-radius: 10px;
  border: none;
}
.no{
  background-color: red;
  transition: 0.2s;

}
.yes{
  background-color: green;
}
.answerText{
  font-weight: bold;
  color: white;
  font-size: x-large;
}
.cat{
  max-height: 30rem;
  border-radius: 10px;
  max-width: 100%;
}
.answer{
  width: 100%;
}
